# Homework 4

In [1]:
import datetime
import math

### Problem 1

In [68]:
# Part 1
class Person:
    """Person with first and last name."""
    
    def __init__(self, first_name: str, last_name: str):
        self.first_name = first_name
        self.last_name = last_name
    
    @property 
    def full_name(self):
        return ' '.join([self.first_name, self.last_name])
    
    @property
    def name(self):
        return ', '.join([self.last_name, self.first_name])

In [69]:
teacher = Person("Diane", "Chen")
teacher.last_name

'Chen'

In [70]:
name = teacher.full_name
name

'Diane Chen'

In [71]:
teacher.first_name = "D. D."
teacher.full_name

'D. D. Chen'

In [72]:
teacher.name

'Chen, D. D.'

In [73]:
friend = Person(last_name='McMaster', first_name='Sonia')
friend.name

'McMaster, Sonia'

In [74]:
friend.full_name

'Sonia McMaster'

### Problem 2

In [9]:
# Part 2
class Point:
    """2-D Point objects."""

    def __init__(self, x=0, y=0):
        """Initialize the Point instance"""
        self.x = x
        self.y = y

    @property
    def magnitude(self):
        """Return the magnitude of vector from (0,0) to self."""
        return math.sqrt(self.x ** 2 + self.y ** 2)
    
    def __str__(self):
        return f"Point at ({self.x}, {self.y})"
    
    def __repr__(self):
        return f"Point(x={self.x}, y={self.y})"

In [10]:
point = Point(x=3.25, y=4.5)

In [11]:
repr(point)

'Point(x=3.25, y=4.5)'

In [12]:
str(point)

'Point at (3.25, 4.5)'

In [13]:
point

Point(x=3.25, y=4.5)

In [14]:
print(point)

Point at (3.25, 4.5)

In [15]:
point2 = Point()
point2

Point(x=0, y=0)

In [16]:
point3 = Point(y=9)
point3

Point(x=0, y=9)

In [78]:
var = '2019'

In [79]:
if isinstance(var, int):
    print(var)
else:
    raise TypeError(f"Input year must be an integer!")

TypeError: Input year must be an integer!

### Problem 3

In [17]:
current_year = datetime.datetime.now().year


class Vehicle:
    """A simple class representing a vehicle"""
    
    def __init__(self, make: str, model:  str, year: int, price: float, color: str):
        self.make = make
        self.model = model
        if isinstance(year, int):
            self.year = year
        else:
            raise TypeError(f"Input year must be an integer!")
        if isinstance(price, (int, float)):
            self.price = price
        else:
            raise TypeError(f"Input price must be a number!")
        self.color = color
        
    def __repr__(self):
        return f"Vehicle(\"{self.make}\", \"{self.model}\", {self.year}, {self.price}, \"{self.color}\")"
    
    def __str__(self):
        return f"This is a {self.year} {self.color} {self.make} {self.model} costing {self.price}"
    
    @property
    def current_value(self):
        vehicle_age = current_year - self.year + 1
        if vehicle_age > 5:
            return 0.1*self.price
        else:
            return self.price - .15*(self.price)*vehicle_age

In [18]:
car = Vehicle("Nissan", "Versa", 2018, 25000.50, "Silver")
car.make

'Nissan'

In [19]:
car.model

'Versa'

In [20]:
car.year

2018

In [21]:
car.price

25000.5

In [22]:
car.color

'Silver'

In [23]:
repr(car)

'Vehicle("Nissan", "Versa", 2018, 25000.5, "Silver")'

In [24]:
car

Vehicle("Nissan", "Versa", 2018, 25000.5, "Silver")

In [25]:
str(car)

'This is a 2018 Silver Nissan Versa costing 25000.5'

In [26]:
print(car)

This is a 2018 Silver Nissan Versa costing 25000.5

In [27]:
make, model, color = 'Toyota Camry White'.split()
car2 = Vehicle(make, model, 2012, 30000.5, color)
car2

Vehicle("Toyota", "Camry", 2012, 30000.5, "White")

In [28]:
car2.current_value

3000.05

In [29]:
car3 = Vehicle(make, model, 2020, 30000, color)
car3.current_value

25500.0

In [30]:
car3 = Vehicle(make, model, 2019, 30000, color)
car3.current_value

21000.0

In [31]:
car3 = Vehicle(make, model, 2018, 30000, color)
car3.current_value

16500.0

In [32]:
car3 = Vehicle(make, model, 2017, 30000, color)
car3.current_value

12000.0

In [33]:
car3 = Vehicle(make, model, 2016, 30000, color)
car3.current_value

7500.0

In [34]:
car3 = Vehicle(make, model, 2015, 30000, color)
car3.current_value

3000.0

In [35]:
car3 = Vehicle(make, model, 2012, 30000, color)
car3.current_value

3000.0

In [36]:
make, model, color = 'Toyota Camry White'.split()

In [37]:
car3 = Vehicle(make, model, 201.2, 30000, color)

TypeError: Input year must be an integer!

In [38]:
car3 = Vehicle(make, model, 2012, color, color)

TypeError: Input price must be a number!